<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="languagetool_msword10_addin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <languagetool_msword10_addin.Properties.Settings>
            <setting name="LTServer" serializeAs="String">
                <value>http://localhost:8081/</value>
            </setting>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>ca-ES</value>
            </setting>
            <setting name="CatalanUserPreferences" serializeAs="String">
                <value>general</value>
            </setting>
            <setting name="EnabledRules" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledRules" serializeAs="String">
                <value />
            </setting>
            <setting name="LTServerOptions" serializeAs="String">
                <value>http://localhost:8081/;https://languagetool.org:8081/;https://www.softcatala.org/languagetool/api/checkDocument/</value>
            </setting>
            <setting name="CatalanPreferencesOptions" serializeAs="String">
                <value>general;valencià;valencià (accentuació general);balear</value>
            </setting>
            <setting name="TypographyRulesEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </languagetool_msword10_addin.Properties.Settings>
    </userSettings>
</configuration>